div.container {
    border: 3px solid blue;
    border-radius: 5px;
}
/*Border doesn't have to be a square, border radius can be used to modify the corners of a box. */  

div.container {
    height: 60px;
    width: 60px;
    border: 3px solid blue;
    border-radius: 50%;
}
/* A perfect circle can be created using border radius by creating an element with the same width and height then setting the radius equal
   to half the width of the box. */