p {
    border: 3px solid coral; /* border has a width of 3 pixels a style of solid and a color of coral. */
}
  
/*A border is a line that surrounds an element, like a frame around a painting.  Borders can be set with a specific width, style, color.
 width:  The thickness of the border.  A border's thickness can be set in pixels or with one of the folowing keywords: thin, medium, thick.
 style:  The design of the border.  Web browsers can render any of 10 different styles.  Some of these styles include: none, dotted, solid.
 color:  The color of the border.  Web broswers can render colors using a few different formats, including 140 built in color keywords.
 The default border is medium none color, where color is the current color of the element.  If width, style, or color are not set in
 the CSS file, the web browser assigns the default value for that property. */