p {
    height: 80px;
    width: 240px;
}
  


/* Box model comprises the set of properties that defines parts of an element that take up space on a web page: 
   width and height:  The width and height of the content area
   padding: The amount of space between the content area and the border.
   border: The thickness and style of the border surrounding the content area and padding.
   margin: The amount of space between the border and the outside edge of the element. */