html {
    display: block;
}
head {
    display: none;
}
link {
    display: none;
}
body {
    font-family: "Open Sans";
    margin: 0 10%;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
div {
    display: block;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83;
    margin-inline-start: 0px;
    margin-inline-end:  0px;
    font-weight: bold;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.container {
    border: 2px solid #a2a2a6;
    padding: 10px;
    margin: 10px auto;
}
.color-container {
    width: 100%;
}
.color-panel {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
}
.rich-black{
    background-color: #040F0F;
    color: #fff;
}
.maize {
    background-color: #EEC643;
    color: #fff;
}
.phthalo-green {
    background-color: #183C28;
    color: #fff;
}
.font-panel {
    width: 45%;
    display: inline-block;
}
.font-label {
    font-size: 20px;
    text-decoration: underline;
}
.lobster {
    font-family: 'Lobster', sans-serif;
}
.regular {
    font-style: normal;
}
.bold {
    font-weight: 700;
}
.italic {
    font-style: italic;
}
.open-sans {
    font-family: 'Open Sans', sans-serif;
}